<div class="carousel carousel-slider center index-cover" data-indicators="true">
    <div class="bg-cover pd-header" style="background: url('<%= post.feature %>') no-repeat center center fixed" data-link="<%= post.link %>">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                    <div class="brand">
                        <div class="title center-align">
                            <%= post.title %>
                        </div>
                        <div class="description center-align">
                            <span id="subtitle">
                                <%= site.customConfig.postsubTitle %>
                            </span><span class="typed-cursor">|</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
    window.onload = function () {
        var typed = new Typed("#subtitle", {
            strings: [ 
                
                    "从来没有真正的绝境, 只有心灵的迷途",
                
                    '<%= site.customConfig.postsubTitle %>',

            ],
            startDelay: 300,
            typeSpeed: 100,
            loop: true,
            backSpeed: 50,
            showCursor: true
        });
        let cover = document.querySelector('.bg-cover');
        cover.setAttribute('style', `background: url('${localStorage[cover.dataset.link]}') no-repeat center center fixed`);
    }
</script>

